extends layout

block content
    form(method='POST', action='/upload', enctype="multipart/form-data")
        label(for='contactsFile') Select CSV file to upload 
        input(type='file', name='contactsFile')
        button(type='submit') Submit File

    a(href='/logout') Log out
